#skills{
    background-color: #fff;
}

/*.skills-bars{
    position: relative;
    margin-top: 20px;
    height:350px;
	opacity:0;
	transition:opacity .3s ease-out;
}

.skills-item{
    position: absolute;
    width:25%;
	height:0;
    bottom:0;
    border-right: 3px solid #fff;
    transition:height 1.2s ease-in-out;
}

.skill1{
    left:0;
    background: #52CCBA;
}

.skill2{
    left:25%;
    background: #509B9E;
}

.skill3{
    left:50%;
    background: #334959;
}

.skill4{
    left:75%;
    background: #B2C7C8;
}

.percent{
    position: absolute;
    display: block;
    width:100%;
    top:-70px;
    font-size: 48px;
    text-align: center;
}

.skills-item p{
    position: absolute;
    width: 100%;
    bottom: -40px;
    text-align: center;
}*/

/*for the devicon portion*/

.circleimg{
	height: 100%;
	width:50%;
	box-sizing: border-box;
	display:flex;
	flex-wrap: wrap;
	position: absolute;
}

.container-skills{
padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
